---
import Layout from '../layouts/Layout.astro';
import ItemCard from "../components/itemCard.astro"
const response = await fetch("https://interview-plus.onrender.com/api/items")
const items = await response.json()

---
<Layout title='Items'>
<main>
    <p class="instructions ">
        <strong>Items</strong> are fetched from the API and displayed here. The API is hosted on <code>https://interview-plus.onrender.com/api/items</code>
        <br>
        <br>
        <strong>
            <a href="/protected" class="text-gradient">
                Go Back
            </a>
        </strong>
        </p>
    <div class="relative mx-auto px-8 max-w-7xl py-12 md:px-12">
        <div class="grid grid-cols-1 gap-6 lg:gap-y-32 md:grid-cols-2">
            {
                items.map((item) => (
                    <ItemCard title={item.title} body={item.description} imglink={item.image} price={item.price} rating={item.rating.rate} />
                ))
            }
        </div>
    </div>
</main>
</Layout>



<style>
	
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {

        margin: auto;
        margin-top: 2rem;
		padding: 100rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

    .link-card {
		list-style: none;
		display: flex;
		padding: 30px;
		background-color: #23262d;
		background-image: none;
		background-size: 300%;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
	
</style>